2025/05/iElR91AnGB2eyBNa.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-20T09:11:01.011Z",
  "id": "iElR91AnGB2eyBNa",
  "meta": null,
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        -140
      ],
      "id": "fcc319c6-fe81-45ac-b078-cdf71d86714d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b31df8ab-0c79-44f5-8e2b-661ec026fe9c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Jay Gatsby",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "291640d2-7caa-4300-baf3-e5ed5706dfac",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Max Sendak",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -120
      ],
      "id": "5a28e993-356f-4984-adad-00ac72b45cd1",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d447d8f-9a81-4e7d-8d18-1423d3e4abeb",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Jay Gatsby",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -180
      ],
      "id": "da7102df-503e-4d48-976b-8e150cbe178f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -200,
        -220
      ],
      "id": "baee2d95-b326-4466-a4c6-5d796bf3a8de",
      "name": "Customer Datastore (n8n training)"
    }
  ],
  "pinData": {},
  "repo_name": "backup_n8n",
  "repo_owner": "thinklife4",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-24T12:31:02.894Z",
  "versionId": "461c6771-8157-40ed-bfe4-248793bee0fb"
}