2025/05/TrqnssYRmMZfCQVO.json
{
  "active": false,
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-11T02:33:09.863Z",
  "id": "TrqnssYRmMZfCQVO",
  "meta": null,
  "name": "{   \"nodes\": [     {       \"parameters\": {         \"operation\": \"getAllPeople\",         \"returnAll\": true       },       \"id\": \"",
  "nodes": [
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "344f8629-80d4-4466-a0a7-4d0253438132",
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        -180,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About the very quick quickstart workflow\n\nThis is an incomplete workflow, used in the [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) tutorial.",
        "height": 220,
        "width": 300
      },
      "id": "00430ba5-cfdc-456f-ac36-2166a186e8c5",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Get fake sample data**",
        "height": 300,
        "width": 220
      },
      "id": "ee85fb4f-28a5-4be8-be6c-2b3eb5b00323",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Extract data and prepare it for use in the next node**",
        "height": 300,
        "width": 220
      },
      "id": "9bb4118d-54bd-4f61-9950-93b7391eb46d",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "af5d2be3-fb64-4c75-baa5-b563b435e238",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -640,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df041e3c-fc09-4ba2-8e6b-37f2c6a02526",
              "name": "customer_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "bf288953-4fef-4f55-a45f-c223714919c0",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "1cff0b21-6740-4697-9d2c-9bcb045af0be",
              "name": "customer_description",
              "type": "string",
              "value": "={{ $json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9ee7b49-2ea5-4a3d-ad30-63d3fbb25514",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        -20
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "repo_name": "backup_n8n",
  "repo_owner": "thinklife4",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-11T02:35:01.688Z",
  "versionId": "e3bcf655-25c1-4552-9d24-d6ffdc29bfab"
}