2025/04/yJLruo7P1cmdZqWw.json
{
  "active": false,
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-27T07:22:43.139Z",
  "id": "yJLruo7P1cmdZqWw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Write Back to Google Excel",
  "nodes": [
    {
      "parameters": {
        "content": "**Get fake sample data**",
        "height": 300,
        "width": 220
      },
      "id": "df7f10ad-247c-4ee9-971f-44c48957ac82",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "34f0aec9-668c-45ce-84bf-14d5fc689e7d",
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        -460,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ML49Joa-vZ3YMK91JL_fpOOcAW_MF_MTex80desRHwo",
          "mode": "list",
          "cachedResultName": "N8N_SYNC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ML49Joa-vZ3YMK91JL_fpOOcAW_MF_MTex80desRHwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ML49Joa-vZ3YMK91JL_fpOOcAW_MF_MTex80desRHwo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        0
      ],
      "id": "ccf360a5-f7e0-4017-92d3-fb166ee1698c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tOpUDwZmPglmAagR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        20
      ],
      "id": "511a6fe1-2dae-4b3c-b23d-e50bdd551a59",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1637a4b8-cc46-497b-9081-23bea44b6b95",
              "leftValue": "={{ $json.email }}",
              "rightValue": "=gov",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -60,
        0
      ],
      "id": "4fd4ab4a-f136-4487-ab05-ef0c0da93c78",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "repo_name": "backup_n8n",
  "repo_owner": "thinklife4",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-27T08:33:30.629Z",
  "versionId": "36fc68b1-0cda-43cb-8be5-ccd0b2237891"
}